# The environment Craft is currently running in ('dev', 'staging', 'production', etc.)
ENVIRONMENT="dev"

# The secure key Craft will use for hashing and encrypting data
SECURITY_KEY="nZScG_UagrxY1v9QdMRe50JQjAalNqVP"

# The Data Source Name (“DSN”) that tells Craft how to connect to the database
DB_DSN="{DSN}"

# The database username to connect with
DB_USER="craftcms"

# The database password to connect with
DB_PASSWORD="passw0rd"

# The database schema that will be used (PostgreSQL only)
DB_SCHEMA=""

# The prefix that should be added to generated table names (only necessary if multiple things are sharing the same database)
DB_TABLE_PREFIX=""

DEFAULT_SITE_URL="craftcms-demo.localhost"
