html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: system-ui, sans-serif;
  width: 100vw;
  overflow-x: hidden;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.fullwidth {
  width: 100%;
}

.btn {
  font-size: 14px;
  display: inline-block;
  border-radius: 5px;
  padding: 7px 14px;
  border: none;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  color: #3f4d5a;
  background-color: rgba(96, 125, 159, 0.25);
}

.btn,
.spinner {
  height: 34px;
}

.btngroup.small, .btngroup.small input.btn, .btn.small, .btn.small + .spinner {
  height: 22px;
}

.btngroup.small .btn, .btn.small {
  padding: 0 7px !important;
  font-size: 12px;
  line-height: 22px;
}

.menu, .ui-datepicker, .ui-timepicker-list {
  z-index: 100;
  border-radius: 4px;
  padding: 0 14px;
  overflow: auto;
  background: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 0 0 1px rgba(31, 41, 51, 0.1), 0 5px 20px rgba(31, 41, 51, 0.25);
  box-shadow: 0 0 0 1px rgba(31, 41, 51, 0.1), 0 5px 20px rgba(31, 41, 51, 0.25);
}

.text:not(.selectize-text), .selectize-text > .selectize-control > .selectize-input {
  padding: 6px 9px;
}

.text.small {
  padding: 3px;
}

.text:not(.selectize-text), .border-box, .matrix-configurator > .field > .input, .selectize-text > .selectize-control > .selectize-input, .multiselect > select, .selectize.multiselect .selectize-control.multi .selectize-input {
  border-radius: 3px;
  border: 1px solid rgba(96, 125, 159, 0.25);
  background-color: #fbfcfe;
  -webkit-box-shadow: inset 0 1px 4px -1px rgba(96, 125, 159, 0.25);
  box-shadow: inset 0 1px 4px -1px rgba(96, 125, 159, 0.25);
  background-clip: padding-box;
  font-size: 14px;
  line-height: 20px;
  color: #3f4d5a;
  min-height: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
